As the notebook directly from Watson studio contains password information, the SQL code for this section can be found here, with the results thereof in the presentation.

Task 1
Display the names of the unique launch sites in the space mission

In [ ]:
task_1 = ''' 
SELECT DISTINCT 
    Launch_Site
FROM spacex
'''
create_pandas_df(task_1, database=conn)

Task 2
Display 5 records where launch sites begin with the string 'KSC'

In [ ]:
task_2 = '''
SELECT 
    *
FROM spacex
WHERE 
    Launch_Site LIKE 'KSC%'
LIMIT 5
        ''' 
create_pandas_df(task_2, databsae=conn)

Task 3
Display the total payload mass carried by boosters launched by NASA (CRS)

In [ ]:
task_3 = ''' 
SELECT 
    SUM(PAYLOAD_MASS__KG_) AS Total_PayloadMass
FROM spacex
WHERE 
    Customer LIKE 'NASA (CRS)'
'''
create_pandas_df(task_3, database=conn)

Task 4
Display average payload mass carried by booster version F9 v1.1

In [ ]:
task_4 = ''' 
SELECT 
    AVG(PAYLOAD_MASS__KG_) AS AVG_PayloadMass
FROM spacex
WHERE 
    Booster_Version = 'F9 v1.1'
'''
create_pandas_df(task_4, database=conn)

Task 5
List the date where the first successful landing outcome in drone ship was acheived.

In [ ]:
task_5 = ''' 
SELECT 
        MIN(date) AS FirstSuccessful_landing_date
FROM SpaceX
WHERE 
        Landing_Outcome = 'Success (drone ship)'
'''
create_pandas_df(task_5, database=conn)

Task 6
List the names of the boosters which have success in ground pad and have payload mass greater than 4000 but less than 6000

In [ ]:
task_6 = ''' 
SELECT 
    Booster_Version
FROM spacex
WHERE 
    Landing_Outcome = 'Success (ground pad)'
    AND PAYLOAD_MASS__KG_ > 4000
    AND PAYLOAD_MASS__KG_ < 6000
'''
create_pandas_df(task_6, database=conn)

Presentation requires:
List the names of the boosters which have success on drone ship landing and have payload mass greater than 4000 but less than 6000

In [ ]:
slides = ''' 
SELECT 
    Booster_Version
FROM spacex
WHERE 
    Landing_Outcome = 'Success (drone ship)'
    AND PAYLOAD_MASS__KG_ > 4000
    AND PAYLOAD_MASS__KG_ < 6000
'''
create_pandas_df(slides, database=conn)

Task 7
List the total number of successful and failure mission outcomes

In [ ]:
task_7 = '''
        SELECT 
        CASE
            WHEN Mission_Outcome LIKE 'Success%' THEN 'Success'
            ELSE 'Failure'
        END AS mission_outcome,
        COUNT(*) AS outcome_count
        FROM spacex
        GROUP BY 
        CASE
            WHEN Mission_Outcome LIKE 'Success%' THEN 'Success'
            ELSE 'Failure'
        END
        ''' 
create_pandas_df(task_7, databsae=conn)

Task 8
List the names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [ ]:
task_8 = ''' 
SELECT 
    Booster_Version, 
    PAYLOAD_MASS__KG_
FROM spacex
WHERE PAYLOAD_MASS__KG_ = (
                        SELECT 
                            MAX(PAYLOAD_MASS__KG_)
                        FROM spacex
                        )
ORDER BY Booster_Version
'''
create_pandas_df(task_8, database=conn)

Task 9
List the records which will display the month names, succesful landing_outcomes in ground pad ,booster versions, launch_site for the months in year 2017

In [ ]:
task_9 = '''
SELECT 
    date_format(date,'MMMM') AS month_name,
    Landing_Outcome,
    Booster_Version,
    Launch_Site
FROM spacex
WHERE
    Landing_Outcome = 'Success (ground pad)'
    AND date_format(date,'yyyy') = '2017'
ORDER BY month(date)
        ''' 
create_pandas_df(task_9, databsae=conn)

Task 10
Rank the count of successful landing_outcomes between the date 2010-06-04 and 2017-03-20 in descending order.

In [ ]:
task_10 = ''' 
SELECT 
    Landing_Outcome, 
    COUNT(Landing_Outcome)
FROM spacex
WHERE 
    new_date BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY
    Landing_Outcome
ORDER BY 
    COUNT(Landing_Outcome) DESC
'''
create_pandas_df(task_10, database=conn)